<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<main>
<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="disabled" href="#">Etablissement</a>
            </li>
        </ul>
    </div>
    
    
</div>
<div class="alert alert-success" role="alert" *ngIf="message">
    {{message}}
</div>
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Tableau Etabliseement</h3>
            <i class='bx bx-search'></i>
            <i class='bx bx-filter'></i>
        </div>
        <table >
            <thead>
                <tr>

                    <th>Code Etabliseement</th>
                    <th>Logo</th>
                    <th>Nom </th>
                    <th>Abreviation </th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Remarque</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                	<tr *ngFor="let etablissement of etablissements">
						<!-- <ng-container *ngIf="!etablissement.archiveEtablissement"> -->
					
						
						<td>{{etablissement.codeEtablissement}}</td>
	                    <td><img src="{{'data:'+etablissement.fileType+';base64,' + etablissement.data}}" width="200px" height="200px"  /></td>
						<td>{{etablissement.nomEtablissement}}</td>
						<td>{{etablissement.abreviationEtablissement}}</td>
						<td>{{etablissement.telEtablissement}}</td>
						<td>{{etablissement.emailEtablissement}}</td>
						<td>{{etablissement.remarqueEtablissement}}</td>
                        
						<td>
							<a type="button" (click)="openDetails(contentDetails, etablissement)" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<!-- <a type="button"  class="delete" data-toggle="modal"><i
									class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> -->
						</td>
					<!-- </ng-container> -->
					</tr>

				</tbody>
			</table>
     <div *ngFor="let etablissement of etablissements">Logo Etablissement:
    <img src="{{'data:'+etablissement.fileType+';base64,' + etablissement.data}}" width="200px"
                    height="200px" /></div>
       
    </div>
    
</div>
</main>

<ng-template #modalTemplate>
<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter Etabliseement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="modalRef.hide()">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group">
							<label>Code </label>
							<input type="text" name="codeEtablissement" #codeEtablissement="ngModel" class="form-control" required ngModel>
							<span *ngIf="codeEtablissement.invalid && codeEtablissement.touched" class="error">Vous devez entrer le code de l'etablissemant</span>
						</div> -->
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" name="nomEtablissement" #nomEtablissement="ngModel" class="form-control"
                            required ngModel>
                        <span *ngIf="nomEtablissement.invalid && nomEtablissement.touched" class="error">Vous devez
                            entrer le nom de l'etablissemant</span>
                    </div>
                    <div class="form-group">
                        <label>Abreviation</label>
                        <input type="text" name="abreviationEtablissement" #abreviationEtablissement="ngModel"
                            class="form-control" required ngModel>
                        <span *ngIf="abreviationEtablissement.invalid && abreviationEtablissement.touched"
                            class="error">Vous devez entrer le'Abreviation de l'etablissemant</span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="emailEtablissement" #emailEtablissement="ngModel" class="form-control"
                            required ngModel>
                        <span *ngIf="emailEtablissement.invalid && emailEtablissement.touched" class="error">Vous devez
                            entrer l'email de l'etablissemant</span>
                    </div>
                    <div class="form-group">
                        <label>Telephone</label>
                        <input type="tel" name="telEtablissement" #telEtablissement="ngModel" class="form-control"
                            required ngModel>
                        <span *ngIf="telEtablissement.invalid && telEtablissement.touched" class="error">Vous devez
                            entrer le telephone de l'etablissemant</span>
                    </div>


                    <div class="form-group">
                        <label>Remarque</label>
                        <input type="text" name="remarqueEtablissement" #remarqueEtablissement="ngModel"
                            class="form-control" required ngModel>
                        <span *ngIf="remarqueEtablissement.invalid && remarqueEtablissement.touched" class="error">Vous
                            devez entrer l'Remarque de l'etablissemant</span>
                    </div>
                    <div class="form-group">
                        <label>image </label>
                        <input type="file" name="file" #file="ngModel" class="form-control" required ngModel
                            (change)="onFileChanged($event)">
                        <span *ngIf="file.invalid && file.touched" class="error">Vous devez entrer l image de
                            l'etablissemant</span>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" value="Cancel" (click)="modalRef.hide()">
                    <input type="submit" class="btn btn-success" data-dismiss="modal" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
</ng-template>
<!-- detail Modal HTML -->

<!-- detail Modal HTML -->
<ng-template #contentDetails>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit etablissemant </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Code </label>
                            <input readonly type="text" formControlName="codeEtablissement" class="form-control"
                                required>

                        </div>
                        <div class="form-group">
                            <label>Nom </label>
                            <input type="text" formControlName="nomEtablissement" class="form-control" required>

                        </div>
                        <div class="form-group">
                            <label>Abreviation </label>
                            <input type="text" formControlName="abreviationEtablissement" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Tel</label>
                            <input type="tel" formControlName="telEtablissement" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Email </label>
                            <input type="email" formControlName="emailEtablissement" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Remarque </label>
                            <input type="email" formControlName="remarqueEtablissement" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" formControlName="file" class="form-control"
                                (change)="onFileChanged($event)" required>
                        </div>

                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
                                value="Fermer">
                            <input type="submit" class="btn btn-info" value="Enregistrer" (click)="onSave()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- Delete Modal HTML -->