<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">


	<!-- ======================= Cards ================== -->
	<div class="cardBox">
		<div class="card">
			<div>
				<div class="numbers">{{numberOfApprenants}}<span class="iconBx"> <i
							class="bi bi-people-fill"></i></span></div>

			</div>
			<div class="cardName">Apprenants Archivés</div>

		</div>
		<div class="card"><a style="color: gray;" href="admin-dashboard/apprenant">
				<div>
					<div class="numbers">{{numberOfApprenantsAff}}<span class="iconBx"> <i
								class="bi bi-people-fill"></i></span></div>

				</div>
				<div class="cardName"> Apprenants </div>
			</a>
		</div>

	</div>

	<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
		{{errorMessage}}
	</div>
	<div class="alert alert-success" role="alert" *ngIf="successMessage">
		{{successMessage}}
	</div>

	<div class="details">
		<div class="recentOrders">
			<div class="cardHeader">
				<h2>List des apprenants archivés</h2>
			</div>

			<table *ngIf="!noDataAvailable">
				<thead>
					<tr>
						<td>ID </td>
						<td>Nom </td>
						<td>Prénom </td>
						<td>Email</td>

						<td>Telehone</td>
						<td>Compte</td>
						<td>Actions</td>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let apprenant of apprenants ">
						<ng-container *ngIf="apprenant.archive">
							<td>{{apprenant.id}}</td>
							<td>{{apprenant.nom}}</td>
							<td>{{apprenant.prenom}}</td>
							<td>{{apprenant.email}}</td>
							<td>{{apprenant.tel}}</td>
							<td><span *ngIf="apprenant.verified" class="status delivered m-lg-2">Vérifier</span>

								<span *ngIf="!apprenant.verified" class="status return">Non vérifier</span>
							</td>
							<td>
								<a type="button" (click)="openDelete(contentArch, apprenant)" data-toggle="modal"><i
										class="material-icons">&#xE147;</i></a>
								<!-- <a type="button" (click)="openDetails(contentDetails, apprenant)" class="edit"
										data-toggle="modal"><i class="material-icons" data-toggle="tooltip" disabled
											title="Edit">&#xE254;</i></a> -->
								<a type="button" (click)="openDelete(contentDelete, apprenant)" class="delete"
									data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
										title="Delete">&#xE872;</i></a>

							</td>
						</ng-container>
					</tr>

				</tbody>
			</table>

			<div *ngIf="noDataAvailable" class="no-data-container">
				<img class="no-data-image" src="../../../../assets/img/no-data-empty-data-concept-vector-41830413.jpg"
					alt="No data available">


			</div>

			<h2 *ngIf="noDataAvailable" style="text-align: center;">Aucune données disponibles !</h2>
		</div>


	</div>
</div>


<ng-template #contentArch>
	<div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<h4 class="modal-title">Desarchiver Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>
					</div>
					<div class="modal-body">
						<p>Voulez-vous desarchiver ce apprenant?</p>
						<p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
					</div>
					<form class="modal-footer" [formGroup]="editForm2">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
							(click)="modalRef.hide()">
						<input type="submit" class="btn btn-danger" value="Desarchiver" (click)="onPatchArch()">

					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #contentDelete>
	<div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<h4 class="modal-title">Supprimer Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>
					</div>
					<div class="modal-body">
						<p>Voulez-vous Supprimer ce apprenant définitivement ?</p>
						<p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
					</div>
					<form class="modal-footer" [formGroup]="editForm2">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
							(click)="modalRef.hide()">
						<input type="submit" class="btn btn-danger" value="Supprimer" (click)="onDelete(apprenant)">

					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>


<!--Ajout compte-->

<ng-template #ajoutCompte>
	<div>
		<div class="modal-dialog">
			<div class="modal-content">
				<form [formGroup]="editForm">
					<div class="modal-header">
						<h4 class="modal-title">Compte Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>

					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Email</label>
							<input type="email" formControlName="emailApprenant" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Mot de passe :</label>
							<input type="password" formControlName="password" class="form-control" required>
						</div>

						<!-- 	<div class="form-group">
							<label>Retapper Mot de passe :</label>
							<input type="text" formControlName="dateNaissanceApprenant" class="form-control" required>
						</div> -->



						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
								value="Fermer">
							<input type="submit" class="btn btn-info" value="Enregistrer" (click)="onLogin()">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</ng-template>