<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Bienvenue dans<br> notre espace,</h1>
    <h2>Notre espace souhaite la bienvenue à tous ces utilisateurs</h2>
    <a href="AffichagesessionFormation" class="btn-get-started">Commencer maintenant</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3> Nous vous propose une variété de formations innovantes et passionnantes avec de réels débouchés
            professionnels.</h3>
          <p class="fst-italic">
            Des offres complètes de formations adaptées à tous les types d'apprenants.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Etudiants.</li>
            <li><i class="bi bi-check-circle"></i>Demandeurs d'emploi.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
            </li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->