<!-- <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              NAVIGATION
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link"routerLink="accueil">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="presentation"> Presentation </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="actu"> Actualité </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""> Contact </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="login">Connexion</a>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
                CENTRE LE PLUS ÉVALUÉ
            </h5>
            <p>
              On offre la qualité de nos formation pour vos collegues 
              Nos formations ont un taux de satisfaction globale 
                de la part des participants. 
            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
                POUR TOUTE QUESTION, MERCI DE NOUS ÉCRIRE
            </h5>
            <div class="info_contact" >
                <ng-container *ngFor="let etablissement of etablissements">
              <a href="">
                {{etablissement.nomEtablissement}}
              </a>
              <a href="">
                {{etablissement.emailEtablissement}}
              </a>
              <a href="">
                (+216) {{etablissement.telEtablissement}}
              </a>
            </ng-container>
            </div>
            <form action="">
              <input type="text" placeholder="Enter Your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">CENTRE LE PLUS ÉVALUÉ</h2>
          <p>On offre la qualité de nos formation pour vos collegues 
            Nos formations ont un taux de satisfaction globale 
              de la part des participants. </p>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          
          <h2 class="footer-heading">Nos themes de formations </h2>
          <ng-container *ngFor="let themeFor of ThemeFormations">
           
           
            <div class="text">
              
              <ul class="list-unstyled">
                <li><a ><span class="icon-calendar"></span></a></li>
                
                <li><a >{{themeFor.abrevation}}</a></li>
              </ul>
             
          </div>
        
        </ng-container>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Liens</h2>
          <ul class="list-unstyled">
            <li><a href="accueil" class="py-2 d-block">Accueil</a></li>
            <li><a href="presentation" class="py-2 d-block">Presentation</a></li>
            <li><a href="actu" class="py-2 d-block">Actualités</a></li>
            <li><a href="formations" class="py-2 d-block">Formations</a></li>
            <li><a href="contact" class="py-2 d-block">Contact</a></li>
            
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Des Questions?</h2>
          <div class="block-23 mb-3">
            <ng-container *ngFor="let etablissement of etablissements">
            <ul>
              <li><span class="icon fa fa-map"></span><span class="text">Adresse</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+216 {{etablissement.telEtablissement}}</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">{{etablissement.emailEtablissement}}</span></a></li>
            </ul>
          </ng-container>
          </div>
        </div>
      </div>
     
    </div>
  </footer>