<header class="header_area navbar_fixed ">

    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand" href="accueil"><span class="flaticon-pawprint-1 mr-2"></span><ng-container
                        *ngFor="let etablissement of etablissements">
                        <img height="36" src="{{'data:'+etablissement.fileType+';base64,' + etablissement.data}}"
                            width="70px" height="100%" class="rounded" />


                        {{etablissement.nomEtablissement}}
                    </ng-container></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item " routerLinkActive="active"><a class="nav-link"
                                routerLink="accueil">Accueil</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                routerLink="presentation">Presentation</a></li>
                        <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                routerLink="actu">Actualités</a></li>



                        <li class="nav-item submenu dropdown" routerLinkActive="active">

                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Formations</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                        routerLink="AffichagethemeFormation">Thémes de
                                        formation</a>
                                <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                        routerLink="AffichagesessionFormation">Sessions de
                                        formation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" routerLinkActive="active"><a class="nav-link"
                                routerLink="contact">Contact</a>
                        </li>


                        <li class="nav-item submenu dropdown" routerLinkActive="active">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"
                                *ngIf="!authService.isLoggedIn()">Connexion</a>
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"
                                *ngIf="authService.isLoggedIn()">{{authService.loggedUser}}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="login"
                                        *ngIf="!authService.isLoggedIn()">Se connecter</a></li>

                                <li class="nav-item" routerLinkActive="active"><a class="nav-link" *ngIf="authService.isLoggedIn()"

                                        (click)="onLogout()">Se déconnecter</a></li>
                                <li class="nav-item"> <a class="nav-link" routerLink="user-dashboard/dash-app"
                                        type="button" *ngIf="authService.isLoggedIn()&&authService.isApp()">Dashboard
                                        Apprenant</a></li>
                                <li class="nav-item"> <a class=" nav-link" routerLink="admin-dashboard/admin-dash"
                                        type="button" *ngIf="authService.isLoggedIn()&&authService.isAdmin()">Dashboard
                                        Admin</a></li>
                                <li class="nav-item"> <a class=" nav-link" routerLink="formateur-dashboard/dash-for"
                                        type="button"
                                        *ngIf="authService.isLoggedIn()&&authService.isFormateur()">Dashboard
                                        Formateur</a></li>
                                <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="register"
                                        *ngIf="!authService.isLoggedIn()">S'inscrire</a></li>

                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>