<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">


    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">{{lengthInscri}}<span class="iconBx"> <i class="bi bi-journal"></i></span></div>

            </div>
            <div class="cardName">Séances </div>

        </div>


    </div>

    <div class="alert alert-success" role="alert" *ngIf="message">
        {{message}}
    </div>

    <!-- ================ Order Details List ================= -->
    <div class="details">
        <div class="recentOrders">
            <ng-container *ngFor="let sessionFormations of sessionFormations">
                <ng-container *ngIf="sessionFormations.idSessionFormation==idSession &&sessionFormations.endOf==false">
                    <div class=" cardHeader">
                        <h2>Liste des séances</h2>
                        <button (click)="openModal(modalTemplate)" class="btn btn-success " data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Ajouter Séance</span></button>
                    </div>
                </ng-container>
            </ng-container>
            <table *ngIf="!noDataAvailable">
                <thead>
                    <tr>
                        <th>id </th>

                        <th> date</th>
                        <th>heuresdebut </th>

                        <th> Nombre d'heure </th>
                        <th> Locale </th>
                        <th> contenu </th>
                        <th> cours </th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let seance of seances">
                    <tr (click)="showSeanceDetails(seance.idSeanceFormation)">
                        
                            <td>{{seance.idSeanceFormation}}</td>

                            <td>{{seance.date}}</td>
                            <td>{{ formatTime(seance.heureDebut) }}</td>
                            <td>{{seance.nbrHeures}}H</td>
                            <td>{{seance.local}}</td>
                            <td>{{seance.contenu}}</td>

                            <td><a href="{{'data:'+seance.fileType+';base64,' + seance.data}}"
                                    download="{{seance.data}}" width="200px" height="200px"> Cours </a></td>

                            <td>

                                <a type="button" (click)="openDetails(contentDetails, seance)" class="edit"
                                    data-toggle="modal"><i class="material-icons" data-toggle="tooltip" disabled
                                        title="Edit">&#xE254;</i></a>
                                <a type="button" (click)="openDelete(contentDelete, seance)" class="delete"
                                    data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                        title="Delete">&#xE872;</i></a>

                            </td>
                   
                    </tr>
                </ng-container>
                </tbody>
            </table>

            <div *ngIf="noDataAvailable" class="no-data-container">
                <img class="no-data-image" src="../../../../assets/img/no-data-empty-data-concept-vector-41830413.jpg"
                    alt="No data available">


            </div>
            <h2 *ngIf="noDataAvailable" style="text-align: center;">Aucune données disponibles !</h2>

        </div>


    </div>
</div>




<ng-template #modalTemplate>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter une seance :</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>



                    <div class="modal-body">
                        <!-- <div class="form-group">
							<label>Code </label>
							<input type="text" name="codeEtablissement" #codeEtablissement="ngModel" class="form-control" required ngModel>
							<span *ngIf="codeEtablissement.invalid && codeEtablissement.touched" class="error">Vous devez entrer le code de l'etablissemant</span>
						</div> -->
                        <div class="form-group" hidden>
                            <label> id seance :</label>
                            <input type="text" name="idSessionFormation" #idSessionFormation="ngModel"
                                [(ngModel)]="idSession" class="form-control" required ngModel [value]="idSession">

                            <span *ngIf="idSessionFormation.invalid && idSessionFormation.touched" class="error">Vous
                                devez
                                entrer heure de Debut de la seance </span>
                        </div>

                        <div class="form-group">
                            <label>Date :</label>
                            <input type="date" name="date" #date="ngModel" class="form-control" required ngModel>
                            <span *ngIf="date.invalid && date.touched" class="error">Vous
                                devez
                                entrer la date de la seance </span>
                        </div>
                        <div class="form-group">
                            <label> Heure de debut :</label>
                            <input type="time" name="heureDebut" #heureDebut="ngModel" class="form-control" required
                                ngModel>
                            <span *ngIf="heureDebut.invalid && heureDebut.touched" class="error">Vous
                                devez
                                entrer heure de Debut de la seance </span>
                        </div>
                        <div class="form-group">
                            <label> Nombre d'heure :</label>
                            <input type="number" name="nbrHeures" #nbrHeures="ngModel" class="form-control" required
                                ngModel>
                            <span *ngIf="nbrHeures.invalid && nbrHeures.touched" class="error">Vous
                                devez
                                entrer nbr Heures de formation</span>
                        </div>


                        <div class="form-group">
                            <label>Locale :</label>
                            <input type="text" name="local" #local="ngModel" class="form-control" required ngModel>
                            <span *ngIf="local.invalid &&local.touched" class="error">Vous
                                devez
                                entrer locale de formation</span>
                        </div>
                        <div class="form-group">
                            <label>Contenu de formation :</label>
                            <textarea name="contenu" #contenu="ngModel" class="form-control" required
                                ngModel></textarea>
                            <span *ngIf="contenu.invalid && contenu.touched" class="error">Vous
                                devez
                                entrer contenu de formation</span>
                        </div>
                        <div class="form-group">

                            <label> Presence :</label>
                            <div *ngFor="let Inscriptions of Inscriptions">

                                <ng-container *ngIf="Inscriptions.sessionFormation.idSessionFormation == idSession">

                                    <input type="checkbox" [(ngModel)]="Inscriptions.apprenant.id"
                                        (change)="onCheckboxChange()" name={{Inscriptions.apprenant.nom}}
                                        [value]="Inscriptions.apprenant.id " [checked]="Inscriptions.apprenant.id">
                                    {{Inscriptions.apprenant.nom}}
                                    {{Inscriptions.apprenant.prenom}}

                                </ng-container>
                                <span *ngIf="contenu.invalid && contenu.touched" class="error">Vous
                                    devez
                                    entrer contenu de formation</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Cours(PDF) :</label>
                            <input type="file" name="file" #file="ngModel" class="form-control" required ngModel
                                (change)="onFileChanged($event)">
                            <span *ngIf="file.invalid && file.touched" class="error">Vous devez entrerle cours
                                la seance</span>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Fermer" (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-success" data-dismiss="modal" value="Ajouter">
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- detail Modal HTML -->

<!-- detail Modal HTML -->
<ng-template #contentDetails>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Modifer seance :</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>



                    <div class="modal-body">
                        <!-- <div class="form-group">
    							<label>Code </label>
    							<input type="text" name="codeEtablissement" #codeEtablissement="ngModel" class="form-control" required ngModel>
    							<span *ngIf="codeEtablissement.invalid && codeEtablissement.touched" class="error">Vous devez entrer le code de l'etablissemant</span>
    						</div> -->

                        <div class="form-group">
                            <label>Date :</label>
                            <input type="date" name="date" class="form-control" formControlName="date" required>

                        </div>
                        <div class="form-group">
                            <label> Heure de debut :</label>
                            <input type="time" name="heureDebut" formControlName="heureDebut" class="form-control"
                                required>

                        </div>
                        <div class="form-group">
                            <label> Nombre d'heure :</label>
                            <input type="number" name="nbrHeures" formControlName="nbrHeures" class="form-control"
                                required>

                        </div>


                        <div class="form-group">
                            <label>Locale :</label>
                            <input type="text" name="local" formControlName="local" class="form-control" required>

                        </div>
                        <div class="form-group">
                            <label>Contenu de formation :</label>
                            <textarea name="contenu" formControlName="contenu" class="form-control" required></textarea>

                        </div>

                        <div class="form-group">
                            <label>Affiche :</label>
                            <input type="file" name="file" class="form-control" required
                                (change)="onFileChanged($event)">

                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
                            value="Fermer">
                        <input type="submit" class="btn btn-info" value="Enregistrer" (click)="onSave()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- Delete Modal HTML -->
<!-- Delete Modal HTML -->

<ng-template #contentDelete>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h4 class="modal-title">Supprimer cette seance</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous supprimer cette seance ?</p>
                        <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                    </div>
                    <form class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
                            (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-danger" value="Supprimer" (click)="onDelete(seance)">

                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>