<!-- Sidenav -->
<div *ngIf="authService.isLoggedIn()">
    
    

    <div class="dashboard d-flex">
        <div>
            <app-side-for bgColor="#333" color="#fff"></app-side-for>
        </div>
        <div style="flex:1 1 auto; display:flex; flex-flow:column; height:100vh; overflow-y:hidden">
            <app-navbar-for bg="#333" color="#fff" ></app-navbar-for>
            <div style="height:100%">
                <div style="height:calc(100% - 64px); overflow-y:scroll">
                    <div class="d-flex card-section">
                        <div class="cards-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="main-content">
        <!-- Top navbar -->
        <!--  <p *ngIf="(authService.isTokenExpired())==true" > <script>alert('byeyby')</script></p> -->
        <!-- Pages -->

        <div class="container-fluid">
            <!--  <app-footer></app-footer> -->
        </div>
    </div>