<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="disabled" href="#">Theme De Formation</a>
                </li>
            </ul>
        </div>
        <button (click)="openModal(modalTemplate)" class="btn btn-success" data-toggle="modal"><i
                class="material-icons">&#xE147;</i> <span>Ajouter un theme de formation</span></button>

    </div>
    <div class="alert alert-success" role="alert" *ngIf="message">
        {{message}}
    </div>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Tableau Theme De Formation</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                    <tr>

                        <th>Code formation </th>
                        <th>Nom de fomration </th>
                        <th>Abrivation de formation </th>
                        <th>Description de formation  </th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ThemeDeFormation  of ThemeDeFormation">
                        <!-- <ng-container *ngIf="!etablissement.archiveEtablissement"> -->


                       
                        <td>{{ThemeDeFormation.idFormation}}</td>
                        
                        <td>{{ThemeDeFormation.nomFormation}}</td>
                        <td>{{ThemeDeFormation.abrevation}}</td>

                        <td>{{ThemeDeFormation.description}}</td>

                        <td>
                            <a type="button" (click)="openDetails(contentDetails, ThemeDeFormation)" class="edit"
                                data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a type="button" (click)="openDelete(contentDelete, ThemeDeFormation)" class="delete"
                                data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></a>
                        </td>
                        <!-- </ng-container> -->
                    </tr>

                </tbody>
            </table>
            <pagination-controls previousLabel="Précédent"
			nextLabel="Suivant"
			(pageChange)="onTableChange($event)" >
				
			</pagination-controls>
        </div>

    </div>
</main>

<ng-template #modalTemplate>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter un theme de formation : </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="form-group">
							<label>Code </label>
							<input type="text" name="codeEtablissement" #codeEtablissement="ngModel" class="form-control" required ngModel>
							<span *ngIf="codeEtablissement.invalid && codeEtablissement.touched" class="error">Vous devez entrer le code de l'etablissemant</span>
						</div> -->
                        <div class="form-group">
                            <label>Nom de formation :</label>
                            <input type="text" name="nomFormation" #nomFormation="ngModel" class="form-control"
                                required ngModel>
                            <span *ngIf="nomFormation.invalid && nomFormation.touched" class="error">Vous devez
                                entrer le om de formation </span>
                        </div>
                        <div class="form-group">
                            <label> Abrivation :</label>
                            <input type="text" name="abrevation" #abrevation="ngModel" class="form-control" required ngModel>
                            <span *ngIf="abrevation.invalid &&  abrevation.touched" class="error">Vous
                                devez
                                entrer l'abrivation de formation </span>
                        </div>
                        <div class="form-group">
                            <!-- <label>Description de formation :</label> -->
                            <textarea name="description" #description="ngModel"
                                class="form-control" required ngModel>Description de formation :</textarea>
                            <!-- <input type="text" name="description" #description="ngModel"
                                class="form-control" required ngModel> -->
                            <span *ngIf="description.invalid &&description.touched"
                                class="error">Vous devez entrer le description de formation </span>
                        </div>
                     


                       


                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Fermer" (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-success" data-dismiss="modal" value="Ajouter">
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- detail Modal HTML -->

<!-- detail Modal HTML -->
<ng-template #contentDetails>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit theme de formation </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Id formation </label>
                            <input readonly type="text" formControlName="idFormation" class="form-control" required>

                        </div>
                        <div class="form-group">
                            <label>Nom de Formation : </label>
                            <input type="text" formControlName="nomFormation" class="form-control" required>

                        </div>
                            <div class="form-group">
                            <label>Abrivation de formation </label>
                            <input type="text" formControlName="abrevation" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Description de formation  </label>
                            <!-- <input type="text" formControlName="description" class="form-control" required> -->
                            <textarea class="form-control"   formControlName="description"    required    >Description de formation :</textarea>
                        </div>

                        

                     

                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
                                value="Fermer">
                            <input type="submit" class="btn btn-info" value="Enregistrer" (click)="onSave()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!-- Delete Modal HTML -->
<!-- Delete Modal HTML -->

<ng-template #contentDelete>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Apprenant</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <form class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
                            (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-danger" value="Supprimer" (click)="onDelete(themeDeFormation)">

                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>