<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="event_section layout_padding">
    <div class="container">
        <div class="event-schedule-area-two bg-color pad100">
            <div class="container">
                <div class="row">
                    <div class="container">

                        <div class="heading_container">
                            <h3>
                                Session De formation Selectionner:
                            </h3>
                            <p>Merci de confirmer votre insecription dans la Session De formation Selectionner
                            </p>
                        </div>
                    </div>
                    <!-- /.col end-->
                </div>
                <!-- row end-->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="home" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Date</th>
                                                <th scope="col">Affiche</th>
                                                <th scope="col">Session</th>
                                                <th scope="col">local</th>
                                                <th class="text-center" scope="col"></th>
                                            </tr>
                                        </thead>


                                        <tbody *ngFor="let sessionFormations of sessionFormations">

                                            <tr class="inner-box" *ngIf="sessionFormations.idSessionFormation==id">
                                                <th scope="row">
                                                    <div class="event-date">
                                                        <span>{{dateDebut}}</span>
                                                        <p>{{sessionFormations.dateDebut}}</p>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="event-img">
                                                        <img src="{{'data:'+sessionFormations.fileType+';base64,' + sessionFormations.data}}"
                                                            width="200px" height="200px" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-wrap">
                                                        <h3><a
                                                                href="#">{{sessionFormations.themeDeFormation.nomFormation}}</a>
                                                        </h3>
                                                        <div class="meta">
                                                            <div class="organizers">
                                                                <a
                                                                    href="#">{{sessionFormations.formateur.nomFormateur}}</a>
                                                            </div>
                                                            <div class="categories">
                                                                <a href="#">{{sessionFormations.typeFormation}}</a>
                                                            </div>
                                                            <div class="time">
                                                                <span> de
                                                                    {{sessionFormations.dateDebut}} jusqu'à
                                                                    {{sessionFormations.dateFin}} , de
                                                                    {{sessionFormations.nbrHeures}} heure</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="r-no">
                                                        <span>{{sessionFormations.localFormation}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="primary-btn">
                                                        <span (click)="openDetails(contentDetails,sessionFormations)"
                                                            class="btn btn-primary">confirmer votre insecription
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>

                    </div>
                    <!-- /col end-->
                </div>
                <!-- /row end-->
            </div>
        </div>
    </div>
</section>
<ng-template #contentDetails>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Session </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>

                    </div>




                    <div class="form-group">
                        <label>id session de formation: </label>
                        <input type="text" formControlName="idSessionFormation" class="form-control" required>
                    </div>


                    <div class="form-group">
                        <label>id user</label>
                        <input type="text" formControlName="idUser" class="form-control" required>
                    </div>



                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
                            value="Fermer">
                        <input type="submit" class="btn btn-info" value="Enregistrer" (click)="onSave()">
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-template>