
<section class="course_details_area ">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Confirmation</h2>
        </div>
    </div> 

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage" >
        {{errorMessage}}
      </div>
      <div class="alert alert-success" role="alert"  *ngIf="successMessage">
        {{successMessage}}
      </div>
      
    <div class="container">
        
        <div class="row" *ngFor="let sessionFormations of sessionFormations">
            
            <ng-container *ngIf="sessionFormations.idSessionFormation==id">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                   
                    <img class="img-fluid" src="{{'data:'+sessionFormations.fileType+';base64,' + sessionFormations.data}}"
                                                            />
               </div>
            </div>


            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" >
                            <p>Formation</p>
                            <span class="or">{{sessionFormations.themeDeFormation.nomFormation}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" >
                            <p>Formateur</p>
                            <span>{{sessionFormations.formateur.nomFormateur}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" >
                            <p>Type de formation</p>
                            <span>{{sessionFormations.typeFormation}}</span>
                        </a>
                    </li>

                    <li>
                        <a class="justify-content-between d-flex">
                            <p>Local</p>
                            <span>{{sessionFormations.localFormation}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" >
                            <p>Date </p>
                            <span>De {{sessionFormations.dateDebut}} jusqu'à 
                                {{sessionFormations.dateFin}}</span>
                        </a>
                    </li>
                </ul>
                <a (click)="openDetails(contentDetails,sessionFormations)" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Confirmer votre insecription</a>

                <h4 class="title">Description</h4>
                <div class="content">
                    <div class="review-top row pt-40">
                        <div class="col-lg-12">
                           
                            <div class="d-flex flex-row reviews justify-content-between">
                                
                               
                                    {{sessionFormations.description}}
                                
                                
                            </div>
                            
                        </div>
                    </div>
                         
                </div>
            </div>
        </ng-container>
        </div>
       
        
        
       
    </div>
</section>

<ng-template #contentDetails>
    <div>
        <div class="modal-dialog m-0">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header m-0">
                        <h2 class="modal-title">Confirmation</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>

                    </div>

                <p  class="modal-header m-0 " > Voulez-vous confirmer votre inscription ?</p>


                   


                    



                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
                            value="Fermer">
                        <input type="submit" class="btn primary-btn2 text-white" value="Confirmer" (click)="onSave()">
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-template>        