<!-- event section -->
<section class="event_section layout_padding">
  <div class="container">

    <div class="heading_container">
      <h3>
        Actualités
      </h3>
      <p>
        Voila notres actualités pour ces dates .
      </p>
    </div>

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          
      <ng-container *ngFor="let actualite of Actualites | paginate:{
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count
      }">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{{'data:'+actualite.fileType+';base64,' + actualite.data}}"  />
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">{{actualite.titreActualite }}</a></h5>
                <p class="fst-italic text-center" >{{ actualite.dayOfWeek }}, {{actualite.dateActualite }} a {{ formatTime(actualite.heureDebut) }} </p>

                
                <p class="card-text">{{ actualite.descriptionActualite }}</p>
              </div>
            </div>
          </div>
      </ng-container>
        </div>

      </div>
    
    </section><!-- End Events Section -->
    <div class="pagination-container">
    <pagination-controls  previousLabel="Précédent" nextLabel="Suivant" (pageChange)="onTableChange($event)">

    </pagination-controls>
    </div>


<!-- end event section -->

<!-- info section -->


<!-- end info section -->