<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="event_section layout_padding">
    <div class="container">
        <div class="event-schedule-area-two bg-color pad100">
            <div class="container">
                <div class="row">
                    <div class="container">

                        <div class="heading_container">
                            <h3>
                                liste laquelle vous êtes inscrit
                            </h3>
                            <p>
                                Voila les session à laquelle vous êtes inscrit :
                            </p>
                        </div>
                    </div>
                    <!-- /.col end-->
                </div>
                <!-- row end-->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="home" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Date</th>
                                                <th scope="col">Affiche</th>
                                                <th scope="col">Session</th>
                                                <th scope="col">local</th>
                                                <th class="text-center" scope="col"></th>
                                            </tr>
                                        </thead>


                                        <tbody *ngFor="let Inscriptions of Inscriptions">


                                            <tr *ngIf="Inscriptions.apprenant.id == idUser" class="inner-box">
                                                <th scope="row">
                                                    <div class="event-date">
                                                        <!-- <span>{{dateDebut}} {{dayNames[day]}}</span> -->

                                                        <span> {{ Inscriptions.sessionFormation.dayOfWeek }}</span>
                                                        <p>{{Inscriptions.sessionFormation.dateDebut}}</p>

                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="event-img">
                                                        <img src="{{'data:'+Inscriptions.sessionFormation.fileType+';base64,' + Inscriptions.sessionFormation.data}}"
                                                            width="200px" height="200px" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-wrap">
                                                        <h3><a
                                                                href="#">{{Inscriptions.sessionFormation.themeDeFormation.nomFormation}}</a>
                                                        </h3>
                                                        <div class="meta">
                                                            <div class="organizers">
                                                                <a
                                                                    href="#">{{Inscriptions.sessionFormation.formateur.nomFormateur}}</a>
                                                            </div>
                                                            <div class="categories">
                                                                <a
                                                                    href="#">{{Inscriptions.sessionFormation.typeFormation}}</a>
                                                            </div>
                                                            <div class="time">
                                                                <span> de

                                                                    <b>{{Inscriptions.sessionFormation.dateDebut}}</b>
                                                                    jusqu'à
                                                                    <b>{{Inscriptions.sessionFormation.dateFin}}</b>
                                                                    ,
                                                                    de
                                                                    <b>{{Inscriptions.sessionFormation.nbrHeures}}</b>
                                                                    heures</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="r-no">
                                                        <span>{{Inscriptions.sessionFormation.localFormation}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="primary-btn">

                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>

                    </div>
                    <!-- /col end-->
                </div>
                <!-- /row end-->
            </div>
        </div>
    </div>
</section>