<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Session de formations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5" *ngFor="let Inscriptions of Inscriptions">
                <ng-container *ngIf="Inscriptions.apprenant.id == idUser">
                <div class="card border-0 bg-light shadow-sm pb-2">

                    <img src="{{'data:'+Inscriptions.sessionFormation.fileType+';base64,' + Inscriptions.sessionFormation.data}}"
                        class="card-img-top mb-2" />
                    <div class="card-body text-center">
                        <h4 class="card-title">{{Inscriptions.sessionFormation.themeDeFormation.nomFormation}}</h4>
                        <p class="card-text">
                            {{Inscriptions.sessionFormation.themeDeFormation.description}}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Formateur</strong>
                            </div>
                            <div class="col-6 py-1">{{Inscriptions.sessionFormation.formateur.nomFormateur}}</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Type</strong>
                            </div>
                            <div class="col-6 py-1">{{Inscriptions.sessionFormation.typeFormation}}</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Date</strong>
                            </div>
                            <div class="col-6 py-1">{{Inscriptions.sessionFormation.dateDebut}} - {{Inscriptions.sessionFormation.dateFin}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Nombre d'heure</strong>
                            </div>
                            <div class="col-6 py-1">{{Inscriptions.sessionFormation.nbrHeures}} Heures</div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Local</strong>
                            </div>
                            <div class="col-6 py-1">{{Inscriptions.sessionFormation.localFormation}}</div>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </ng-container>
            </div>

        </div>
        
    </div>
</section>