

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="side_img">
      <img src="../../../assets/img//side-img.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="../../../assets/img//a-1.jpg" alt="" />
            </div>
            <div class="img-box b2">
              <img src="../../../assets/img/a-2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
                Presentation de notre centre 
              </h3>
              <p>
                Notre centre de formation offre aux organismes publics et privés des services de qualité,
                adaptés à vos problématiques métiers et sectorielles :

                La formation continue en vue du développement des connaissances professionnelles et leur actualisation
                au rythme du progrès technologique et du perfectionnement des méthodes de travail.
              </p>
              <a href="">
                Plus
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  

