<!-- <section class="contact_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
                Contactez-nous !
              </h3>
              <p>
                Merci de nous contaactez et nous donnez votre avis par rapport notre etablissement.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <h5>
              Contactez-nous !
            </h5>
            <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)">
              <div>
                <input type="text" placeholder="Votre Nom et Prenom " name="nomPrenom" #nomPrenom="ngModel" ngModel/>
              </div>
              <div>
                <input type="text" placeholder="Numero Telephone" name="numTel" #numTel="ngModel" ngModel/>
              </div>
              <div>
                <input type="email" placeholder="Adresse email" name="email" #email="ngModel" ngModel/>
              </div>
              <div>
                <input type="text" placeholder="Message" class="input_message" name="message" #message="ngModel" ngModel/>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn_on-hover">
                  Envoyer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../../assets/img/home-banner.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs mb-2"><span class="mr-2"><a routerLink="accueil">Accueil <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-0 bread">Contact</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Contact Nous</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row mb-5">
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="successMessage">
              {{successMessage}}
          </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Contactez-Nous </h3>
                <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="name">Nom </label>
                        <input type="text" class="form-control" name="nom" #nom="ngModel" ngModel required="required"
                          placeholder="Nom ">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Prénom</label>
                        <input type="text" class="form-control" name="prenom" #prenom="ngModel" ngModel required="required"
                          placeholder="Prénom">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Adresse Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email"  #email="ngModel" ngModel required="required"
                          >
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Téléphone</label>
                        <input type="text" class="form-control" placeholder="Téléphone" name="numTel" #numTel="ngModel" required="required"
                          ngModel>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Message</label>
                        <textarea name="message" class="form-control" cols="30" rows="4" placeholder="Message" required="required"
                          name="message" #message="ngModel" ngModel></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="Envoyer Message" class="btn btn-primary">
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <div class="info-wrap w-100 p-5 img" style="background-image: url(../../../../assets/img/about-2.jpg);">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>