<div class="app" style="display: flex; height: 100vh; overflow:scroll initial">
    <CDBSidebar textColor="#ffffff" backgroundColor="#333333">
        <CDBSidebarHeader [prefix]="icon" >

            <a href="#" class="brand">
                <ng-container *ngFor="let etablissement of etablissements">
                        <img height="36" src="{{'data:'+etablissement.fileType+';base64,' + etablissement.data}}"
                                width="50px" height="50px" />
                        <span class="text text-light">{{etablissement.nomEtablissement}}</span>
                </ng-container>
             </a>
            <ng-template #icon>
                <i class="fa fa-bars fa-large"></i>
            </ng-template>

           
        </CDBSidebarHeader>

        <CDBSidebarContent>
            <CDBSidebarMenu class="sidebar-content">
                <CDBSidebarMenuItem link='/formateur-dashboard/dash-for' icon="columns" >
                    Dashboard                   
                </CDBSidebarMenuItem>               
                <CDBSidebarMenuItem link='/formateur-dashboard/session-for' icon="table" >
                    Liste des sessions                  
                </CDBSidebarMenuItem> 
                              
                              
                               
            </CDBSidebarMenu>
        </CDBSidebarContent>
        <div class="mt-auto">

            <CDBSidebarFooter class="sidebar-content">
                <CDBSidebarMenuItem link='/formateur-dashboard/edit-profil' ><i class="mx-2 bi bi-person-fill"></i>
                    <span style="margin-left: 5px;">Profil</span>                    
                </CDBSidebarMenuItem> 
              
                <CDBSidebarMenuItem ><i class="bi mx-2 bi-box-arrow-right" (click)="onLogout()"></i>
                    <span style="margin-left: 5px;" (click)="onLogout()">Déconnexion</span>                    
                </CDBSidebarMenuItem> 

                
            </CDBSidebarFooter>
        </div>
    </CDBSidebar>
</div>