<!-- login section -->

<section class="login_section layout_padding">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="detail-box">
					<h3>
						avez-Vous un compte ?
					</h3>
					<p>
						Connectez-vous et rejoingnez notre centre !
					</p>
					<a href="/login">
						Connexion
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="login_form">
					<h5>
						S'inscrire maintenant
					</h5>

					<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
						<div class="row">
							<div class="col-md-6 ">
								<div class="form-outline">
									<input type="text" id="form3Example1m" class="form-control" placeholder="Prenom"
										formControlName="prenomApprenant" name="prenomApprenant">
								</div>
							</div>
							<div class="col-md-6 ">
								<div class="form-group">
									<input type="text" id="form3Example1n" class="form-control" placeholder="Nom"
										formControlName="nomApprenant">
								</div>
							</div>
						</div>

						<div class="form-group">
							<input type="date" id="form3Example8" class="form-control" placeholder="date"
								formControlName="dateNaissanceApprenant">
						</div>
						<div class="form-group">
							<input type="text" id="form3Example8" class="form-control" placeholder="Telephone"
								formControlName="telApprenant">
						</div>

						<div class="form-group">
							<input type="text" id="form3Example8" class="form-control" placeholder="Adresse"
								formControlName="adresseApprenant">
						</div>

						<div class="form-group">
							<select class="form-select" formControlName="qualiteApprenant" required>
								<option [value]="null" disabled selected>Selectionner une session de formation
								</option>
								<option *ngFor="let item of items" [value]="item">{{ item }}</option>
							</select>
							<!--  <span *ngIf="registerForm.get('qualiteApprenant').invalid && registerForm.get('qualiteApprenant').touched" class="error">Vous devez entrer qualité de l'apprenant</span> -->
						</div>
						<div class="btn-group">
							<input type="radio" class="btn-check" value="homme" id="option1" autocomplete="off"
								formControlName="sexeApprenant" name="sexeApprenant">
							<label class="btn btn-primary rounded" for="option1">Homme</label>

							<input type="radio" class="btn-check" value="femme" id="option2" autocomplete="off"
								formControlName="sexeApprenant">
							<label class="btn btn-primary rounded" for="option2">Femme</label>
						</div>
						<div class="form-group">
							<input type="text" id="form3Example8" class="form-control" placeholder="Niveau d'etude"
								formControlName="niveauApprenant">
						</div>

						<div>
							<input class="form-control" type="email" placeholder="Email " name="emailApprenant" required
								ngModel formControlName="email" />
							<div *ngIf="registerForm.controls['email']?.errors?.['email']" class="error">Verifier syntax
								de votre email</div>
							<!-- <div *ngIf="registerForm.controls['email']?.errors?.['required']" class="error">email obligatoire</div> -->
						</div>
						<div class="form-group">
							<input class="form-control" type="password" placeholder="Mot de passe" name="password"
								required formControlName="password" />
						</div>
						<div *ngIf="registerForm.controls['password'].errors">
							<!-- <div *ngIf="registerForm.controls['password']?.errors?.['required']" class="error">mot de passe est obligatoire</div> -->
							<div *ngIf="registerForm.controls['password']?.errors?.['minlength']" class="error">mot de
								passe doit avoir minimum 8 caracters</div>
							<div *ngIf="registerForm.controls['password']?.errors?.['maxlength']" class="error">mot de
								passe doit avoir maximum 20 caracters</div>
						</div>
						<div>
							<input class="form-control" type="password" placeholder="Retappez mot de passe"
								name="confirmPassword" formControlName="confirmPassword" required />
						</div>
						<div class="error"
							*ngIf="registerForm.hasError('passwordsMismatch') && ((registerForm.controls['confirmPassword']?.dirty) || registerForm.controls['confirmPassword']?.touched)">
							Les mots de passe ne correspondent pas.
						</div>

						<button type="submit">Submit</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>