<div class="main-content">
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            
                <ng-container *ngFor="let etablissement of etablissements">
                   <a href="accueil"><img height="36" src="{{'data:'+etablissement.fileType+';base64,' + etablissement.data}}"
                        width="70px" height="100%" class="rounded"/></a> 
                        <a href="accueil" class="logo d-flex container-fluid">
                    <span ><h1>{{etablissement.nomEtablissement}}</h1></span>  </a>
                </ng-container>

          



            <nav id="navbar" class="navbar">

                <ul>
                    <li><a routerLink="accueil">Accueil</a></li>
                    <li><a routerLink="presentation">Presentation</a></li>
                    <li><a routerLink="actualite">Actualité</a></li>
                    <li class="dropdown"><a href="login"><span>Connexion</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li>
                                <a routerLink="login">Login</a>
                            </li>


                            <li><a routerLink="#">S'Identifier</a></li>

                        </ul>
                    </li>
                    <li><a routerLink="#">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <router-outlet></router-outlet>
</div>