<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Apprenant</b></h2>
					</div>
					<!--  <ng-template #modalTemplate>
                        <app-modal-comp [dataFromParent]="modalRef"></app-modal-comp>
                      </ng-template> -->
					<div class="col-sm-6">

						<button (click)="openModal(modalTemplate)" class="btn btn-success" data-toggle="modal"><i
								class="material-icons">&#xE147;</i> <span>Ajouter Apprenant</span></button>
						<!-- <button (click)="openModal(modalTemplate3)" class="btn btn-danger" data-toggle="modal"><i
								class="material-icons">&#xE15C;</i> <span>Delete</span></button> -->
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Code Apprenant</th>
						<th>Nom </th>
						<th>Prénom </th>
						<th>Email</th>
						<th>Telehone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let apprenant of apprenants">
						<ng-container *ngIf="!apprenant.archiveApprenant">
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>{{apprenant.codeApprenant}}</td>
						<td>{{apprenant.nomApprenant}}</td>
						<td>{{apprenant.prenomApprenant}}</td>
						<td>{{apprenant.emailApprenant}}</td>
						<td>{{apprenant.telApprenant}}</td>
						<td>
							<a type="button" (click)="openDetails(contentDetails, apprenant)" class="edit" data-toggle="modal"><i
									class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a type="button" (click)="openDelete(contentDelete, apprenant)" class="delete" data-toggle="modal"><i
									class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</ng-container>
					</tr>

				</tbody>
			</table>
			<div class="alert alert-success" role="alert" *ngIf="message">
				{{message}}
			</div>
			<!-- <div class="alert alert-danger" role="alert" *ngIf="!message">
				{{message}}
			</div> -->
		
		</div>
	</div>
</div>
<!-- Ajout Modal HTML -->
<ng-template #modalTemplate>
	<div>
		<div class="modal-dialog">
			<div class="modal-content">
				<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate (ngSubmit)="onControl(f)"  >
					<div class="modal-header">
						<h4 class="modal-title">Ajout Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Code Apprenant</label>
							<input type="text" name="codeApprenant" #codeApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="codeApprenant.invalid && codeApprenant.touched" class="error">Vous devez entrer le code de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Nom</label>
							<input type="text" name="nomApprenant" #nomApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="nomApprenant.invalid && nomApprenant.touched" class="error">Vous devez entrer le nom de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Prenom</label>
							<input type="text" name="prenomApprenant" #prenomApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="prenomApprenant.invalid && prenomApprenant.touched" class="error">Vous devez entrer le prenom de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="emailApprenant" #emailApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="emailApprenant.invalid && emailApprenant.touched" class="error">Vous devez entrer l'email de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Telehone</label>
							<input type="text" name="telApprenant"  #telApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="telApprenant.invalid && telApprenant.touched" class="error">Vous devez entrer le telephone de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Sexe</label><br>
							<div class="form-check">
								<input type="radio" name="sexeApprenant" #sexeApprenant="ngModel" class="form-check-input" value="homme"
									required ngModel>
								<label for="true" class="form-check-label">Homme</label>
								
							</div>
							<div class="form-check">
								<input type="radio" name="sexeApprenant" #sexeApprenant="ngModel" class="form-check-input" value="femme"
									required ngModel>
								<label for="false" class="form-check-label">Femme</label>
							</div>
							<span *ngIf="telApprenant.invalid && telApprenant.touched" class="error">Donnez le sexe de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Date de naissance</label>
							<input type="date" name="dateNaissanceApprenant" #dateNaissanceApprenant="ngModel" class="form-control" required ngModel>
							<span *ngIf="dateNaissanceApprenant.invalid && dateNaissanceApprenant.touched" class="error">Donnez le date de naissance de l'apprenant</span>
						</div>
						<div class="form-group">
							<label>Adresse</label>
							<input type="text" name="adresseApprenant" #adresseApprenant="ngModel" class="form-control" required ngModel >
							<span *ngIf="adresseApprenant.invalid && adresseApprenant.touched" class="error">Vous devez entrer l'Adresse de l'apprenant</span>
						</div>


					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" value="Fermer" (click)="modalRef.hide()">
						<input type="submit" class="btn btn-success" data-dismiss="modal" value="Ajout">
					</div>
				</form>
			</div>
		</div>
	</div>
</ng-template>
<!-- detail Modal HTML -->
<ng-template #contentDetails>
	<div>
		<div class="modal-dialog">
			<div class="modal-content">
				<form [formGroup]="editForm">
					<div class="modal-header">
						<h4 class="modal-title">Edit Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>
							
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Code Apprenant</label>
							<input readonly type="text" formControlName="codeApprenant" class="form-control" required >
						</div>
						<div class="form-group">
							<label>Nom</label>
							<input type="text" formControlName="nomApprenant" class="form-control" required >
						</div>
						<div class="form-group">
							<label>Prenom</label>
							<input type="text" formControlName="prenomApprenant" class="form-control" required >
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" formControlName="emailApprenant" class="form-control" required >
						</div>
						<div class="form-group">
							<label>Telehone</label>
							<input type="text" formControlName="telApprenant" class="form-control" required >
						</div>
						<!-- <div class="form-group">
							<label>Sexe</label><br>
							<div class="form-check">
								<input type="radio" formControlName="sexeApprenant" class="form-check-input" value="homme"
									required >
								<label for="true" class="form-check-label">Homme</label>
							</div>
							<div class="form-check">
								<input type="radio" formControlName="sexeApprenant" class="form-check-input" value="femme"
									required >
								<label for="false" class="form-check-label">Femme</label>
							</div>
						</div> -->
						 <div class="form-group">
							<label>Date de naissance</label>
							<input type="date" formControlName="dateNaissanceApprenant" class="form-control" required >
						</div>
						<div class="form-group">
							<label>Adresse</label>
							<input type="text" formControlName="adresseApprenant" class="form-control" required >
						</div> 
						<!-- <div class="form-group">
							<label>Archive</label><br>
							<div class="form-check">
								<input type="radio" formControlName="archiveApprenant" class="form-check-input" value="true"
									required >
								<label for="true" class="form-check-label">True</label>
							</div>
							<div class="form-check">
								<input type="radio" formControlName="archiveApprenant" class="form-check-input" value="false"
									required >
								<label for="false" class="form-check-label">False</label>
							</div>
						</div> -->

					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()"
							value="Fermer">
						<input type="submit" class="btn btn-info" value="Enregistrer" (click)="onSave()">
					</div>
				</div>	
				</form>
			</div>
		</div>
	</div>
</ng-template>
<!-- Delete Modal HTML -->

<ng-template #contentDelete>
	<div >
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<h4 class="modal-title">Delete Apprenant</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							(click)="modalRef.hide()">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<form class="modal-footer" [formGroup]="editForm2" >
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
							(click)="modalRef.hide()">
						<input type="submit" class="btn btn-danger"  value="Supprimer" (click)="onPatch()">
						
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>