

  
   

  <!-- event section -->
  <section class="event_section layout_padding" >
    <div class="container"  >
        
      <div class="heading_container" >
        <h3>
          Actualités
        </h3>
        <p>
          Voila notres actualités pour ces dates .
        </p>
      </div>
      
      <div class="event_container">
        <ng-container *ngFor="let actualite of Actualites">
        <div class="box">
          <div class="img-box">
            <img src="{{'data:'+actualite.fileType+';base64,' + actualite.data}}" width="200px"
                                height="200px" />
          </div>
          <div class="detail-box">
            <h4>
                {{actualite.titreActualite}}
            </h4>
            <h6>
                {{actualite.descriptionActualite}}
            </h6>
          </div>
          <div class="date-box">
            <h3>
              <span>
                {{actualite.dateActualite}}
              </span>
              
            </h3>
          </div>
        </div>
        
    </ng-container>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
      
    </div>
  </section>

  <!-- end event section -->

  <!-- info section -->
  

  <!-- end info section -->



