<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="event_section layout_padding">
    <div class="container">
        <div class="event-schedule-area-two bg-color pad100">
            <div class="container">
                <div class="row">
                    <div class="container">

                        <div class="heading_container">
                            <h3>
                                Session De formation ouvert
                            </h3>
                            <p>
                                Voila nous Session De formation ouvert:
                            </p>
                        </div>
                    </div>
                    <!-- /.col end-->
                </div>
                <!-- row end-->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="home" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Date</th>
                                                <th scope="col">Affiche</th>
                                                <th scope="col">Session</th>
                                                <th scope="col">local</th>
                                                <th class="text-center" scope="col"></th>
                                            </tr>
                                        </thead>


                                        <tbody *ngFor="let sessionFormations of sessionFormations">
                                            <tr class="inner-box">
                                                <th scope="row">
                                                    <div class="event-date">
                                                        <!-- <span>{{dateDebut}} {{dayNames[day]}}</span> -->

                                                        <span> {{ sessionFormations.dayOfWeek }}</span>
                                                        <p>{{sessionFormations.dateDebut}}</p>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="event-img">
                                                        <img src="{{'data:'+sessionFormations.fileType+';base64,' + sessionFormations.data}}"
                                                            width="200px" height="200px" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="event-wrap">
                                                        <h3><a
                                                                >{{sessionFormations.themeDeFormation.nomFormation}}</a>
                                                        </h3>
                                                        <div class="meta">
                                                            <div class="organizers">
                                                                <a
                                                                    >{{sessionFormations.formateur.nomFormateur}}</a>
                                                            </div>
                                                            <div class="categories">
                                                                <a >{{sessionFormations.typeFormation}}</a>
                                                            </div>
                                                            <div class="time">
                                                                <i class='far fa-calendar-alt'></i>
                                                                <span> De

                                                                    <b>{{sessionFormations.dateDebut}}</b> jusqu'à
                                                                    <b>{{sessionFormations.dateFin}}</b>  </span>

                                                                    <div><i class='far fa-clock' ></i>     
                                                                      <b>   {{sessionFormations.nbrHeures}}</b> heures</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="r-no">
                                                        <span>{{sessionFormations.localFormation}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="primary-btn">
                                                        <span class="btn btn-primary"
                                                            (click)="onSelect(sessionFormations)">Inscrire</span>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>

                    </div>
                    <!-- /col end-->
                </div>
                <!-- /row end-->
            </div>
        </div>
    </div>
</section>