
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">
	
		
    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">{{numberMess}}<span class="iconBx"><i class="bi bi-chat-dots"></i></span></div>
                
            </div>
            <div class="cardName">Messages </div>
            
        </div>

        
    </div>

 
    <!-- ================ Order Details List ================= -->
    <div class="details" >
        <div class="recentOrders" >
            <div class="cardHeader" >
                <h2>Liste des Messages</h2>
                
            </div>

            <table>
                <thead>
                    <tr>

                        <th>ID  </th>
                        <th>Nom et Prenom </th>
                        <th>Email </th>
                        <th>Telephone  </th>
                        <th>Message </th>
                        
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact  of contacts">
                        <!-- <ng-container *ngIf="!etablissement.archiveEtablissement"> -->


                       
                        <td >{{contact.idContact}}</td>
                        
                        <td>{{contact.nomPrenom}}</td>
                       
                        <td>{{contact.email}}</td>

                        <td>{{contact.numTel}}</td>
                        <td >{{contact.message}}</td>
                        <td>
                            
                            <a type="button" (click)="openDelete(contentDelete, contact)" class="delete"
                                data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></a>
                        </td>
                        <!-- </ng-container> -->
                    </tr>

                </tbody>
            </table>

            <pagination-controls previousLabel="Précédent"
			nextLabel="Suivant"
			(pageChange)="onTableChange($event)">
				
			</pagination-controls>
        </div>

    </div>

<!-- Delete Modal HTML -->

<ng-template #contentDelete>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h4 class="modal-title">Supprimer Message</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous supprimer ce message ?</p>
                        <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                    </div>
                    <form class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
                            (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-danger" value="Supprimer" (click)="onDelete(contact)">

                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>