
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="disabled" href="#">Message</a>
                </li>
            </ul>
        </div>
        

    </div>
    
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Tableau des messages envoyés</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                    <tr>

                        <th>ID  </th>
                        <th>Nom et Prenom </th>
                        <th>Email </th>
                        <th>Telephone  </th>
                        <th>Message </th>
                        
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact  of contacts">
                        <!-- <ng-container *ngIf="!etablissement.archiveEtablissement"> -->


                       
                        <td >{{contact.idContact}}</td>
                        
                        <td>{{contact.nomPrenom}}</td>
                       
                        <td>{{contact.email}}</td>

                        <td>{{contact.numTel}}</td>
                        <td >{{contact.message}}</td>
                        <td>
                            
                            <a type="button" (click)="openDelete(contentDelete, contact)" class="delete"
                                data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></a>
                        </td>
                        <!-- </ng-container> -->
                    </tr>

                </tbody>
            </table>

            <pagination-controls previousLabel="Précédent"
			nextLabel="Suivant"
			(pageChange)="onTableChange($event)">
				
			</pagination-controls>
        </div>

    </div>
</main>
<!-- Delete Modal HTML -->

<ng-template #contentDelete>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Apprenant</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="modalRef.hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <form class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Fermer"
                            (click)="modalRef.hide()">
                        <input type="submit" class="btn btn-danger" value="Supprimer" (click)="onDelete(contact)">

                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>